body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

header {
	background: #eeeeee;
	padding-bottom: 10px;
	padding-top: 50px;
}

.responsiveImageHeader {
	height: auto;
	width: auto;
	max-width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}

.responsiveImageSocial {
	height: auto;
	width: auto;
	max-width: 20px;
	padding-left: 0%;
	padding-right: 0%;
	margin: 2px;
}

nav {
	background: #eeeeee;
	position: fixed;
	top: 0;
	width: 100%;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: right;
}

nav ul li {
	display: inline;
	font-size: 90%;
	text-align: right;
	letter-spacing: 2px; 
	margin: 0;
	padding: 10px;
}

section {
	background: white;
}

.sectionTitle {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	letter-spacing: 2px;
	margin-top: 60px;
	margin-bottom: 60px;
}

#about .sectionTitle {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	letter-spacing: 2px;
	margin-top: 60px;
	margin-bottom: 30px;
}

.responsiveImageIcon {
	height: auto;
	width: auto;
	max-width: 70px;
	padding-left: 0%;
	padding-right: 0%;
	margin: 2px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sectionTextBold {
	text-align: center;
	font-size: 100%;
	font-weight: bold;
	letter-spacing: 3px;
	margin-top: 30px;
}

.sectionText {
	text-align: center;
	font-size: 100%;
}

.sectionIconText {
	max-width: 240px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	letter-spacing: 1px;
	
}

.responsiveImageDish {
	height: auto;
	width: auto;
	max-width: 50%;
	padding-left: 0%;
	padding-right: 0%;
	margin: 2px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.textMenu {
	text-align: left;
	letter-spacing: 1px;
}

#about {
	background: #eeeeee;
	margin-top: 60px;
}

.responsiveImageMap {
	height: auto;
	width: auto;
	max-width: 70%;
	padding-left: 0%;
	padding-right: 0%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

footer {
	background: white;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.66%;
}
.span_10_of_12 {
  	width: 83.33%;
}

.span_9_of_12 {
  	width: 75%;
}

.span_8_of_12 {
  	width: 66.66%;
}

.span_7_of_12 {
  	width: 58.33%;
}

.span_6_of_12 {
  	width: 50%;
}

.span_5_of_12 {
  	width: 41.66%;
}

.span_4_of_12 {
  	width: 33.33%;
}

.span_3_of_12 {
  	width: 25%;
}

.span_2_of_12 {
  	width: 16.66%;
}

.span_1_of_12 {
  	width: 8.333%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 700px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
}